.about-us-vacancies {
  padding: 90px 24px;
  background: url(../img/about-us/abstract-background.svg);
  background-size: contain;
  color: var(--primary-text-dark-color);
}

.about-us-vacancies__header {
  display: flex;
  margin-bottom: 20px;
}

.about-us-vacancies__title-icon {
  width: 20px;
}

.about-us-vacancies__title {
  font-size: 12px;
  margin: 0 10px;
  letter-spacing: 1.2px;
  line-height: 24px;
  color: var(--quaternary-text-dark-color);
}

.about-us-vacancies__intro {
  margin-bottom: 50px;
}

.about-us-vacancies__intro-title {
  margin-bottom: 60px;
  font-family: Philosopher, sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
  color: var(--secondary-text-dark-color);
}

.about-us-vacancies__intro-text {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 25.5px;
}

.about-us-vacancies__intro-link {
  color: var(--primary-accent-color);
  text-decoration: underline;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.2px;
  line-height: 12px;
}

@media (min-width: 768px) {
  .about-us-vacancies {
    padding: 105px 30px;
  }

  .about-us-vacancies__intro {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  .about-us-vacancies__intro-title {
    flex: 1;
    font-size: 41px;
    line-height: 49.2px;
    margin-bottom: unset;
  }

  .about-us-vacancies__intro-content {
    flex: 1;
  }

  .about-us-vacancies__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (min-width: 990px) {
  .about-us-vacancies {
    padding: 120px 40px;
  }

  .about-us-vacancies__intro {
    margin-bottom: 55px;
  }

  .about-us-vacancies__intro-title {
    font-size: 48px;
    line-height: 57.6px;
  }
}

@media (min-width: 1225px) {
  .about-us-vacancies {
    padding: 120px 0;
  }
}
