.about-us-hero {
    background: linear-gradient(rgb(2, 119, 110), rgb(2, 119, 110)), url(../img/about-us/fabric-background.png);
    text-align: center;
    color: var(--primary-text-light-color);
}

.about-us-hero__title {
    font-family: sans-serif;
    font-size: 30px;
}

.about-us-hero__breadcrumb {
    font-size: 12px;
}

.about-us-hero__breadcrumb-link {
    text-decoration: none;
    color: var(--primary-text-light-color);
    
}

