.about-us-mission__cover {
    padding: 60px 24px 90px;
}

.about-us-mission__image {
    margin-bottom: 80px;
}

.about-us-mission__header {
    display: flex;
    margin-bottom: 20px;
}

.about-us-mission__title-icon {
    width: 20px;
}

.about-us-mission__title {
    font-size: 12px;
    margin: 0 10px;
    letter-spacing: 1px;
    line-height: 25px;
    color: var(--quaternary-text-dark-color);
}

.about-us-mission__subtitle {
    margin-bottom: 25px;
    font-family: Philosopher, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    color: var(--secondary-text-dark-color);
}

.about-us-mission__description {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 25.5px;
    color: var(--primary-text-dark-color);
}

@media (min-width: 768px) {
    .about-us-mission__cover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding: 60px 40px 105px;
    }

    .about-us-mission__subtitle {
        font-size: 40px;
        line-height: 49px;
    }
}

@media (min-width: 990px) {
    .about-us-mission__cover {
        padding: 60px 40px 120px;
    }

    .about-us-mission__subtitle {
        font-size: 48px;
        line-height: 57.5px;
    }
}

@media (min-width: 1225px) {
    .about-us-mission__cover {
        padding: 60px 0px 120px;
    }

    .about-us-mission__header {
        margin-top: 40px;
    }
}