.about-us-about-us__cover {
    padding: 90px 60px 60px;
}

.about-us-about-us__content {
    margin-bottom: 90px;
}

.about-us-about-us__header {
    display: flex;
    margin-bottom: 20px;
}

.about-us-about-us__title-icon {
    width: 20px;
}

.about-us-about-us__title {
    font-size: 12px;
    margin: 0 10px;
    letter-spacing: 1px;
    line-height: 25px;
    color: var(--quaternary-text-dark-color);
}

.about-us-about-us__subtitle {
    margin-bottom: 25px;
    font-family: Philosopher, sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 41px;
    color: var(--secondary-text-dark-color);
}

.about-us-about-us__description {
    margin-bottom: 45px;
    font-size: 17px;
    line-height: 25.5px;
    color: var(--primary-text-dark-color);    
}

.about-us-about-us__divide-line {
    margin-bottom: 30px;
    width: 100%;
    height: 1px;
    background-color: rgba(34, 34, 34, 0.20);
}

.about-us-about-us__details {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.about-us-about-us__details-icon {
    width: 50px;
}

.about-us-about-us__details-title {
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-text-dark-color);
}

.about-us-about-us__details-description {
    font-size: 17px;
    line-height: 25.5px;
    color: var(--primary-text-dark-color);
}

@media (min-width: 768px) {
    .about-us-about-us__cover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        padding: 105px 40px 60px;
    }

    .about-us-about-us__content {
        margin-bottom: 20px;
    }

    .about-us-about-us__subtitle {
        font-size: 40px;
        line-height: 49px;
    }
    
    .about-us-about-us__details-icon {
        width: 70px;
    }

    .about-us-about-us__details-title {
        font-size: 24px;
        line-height: 26.5px;
    }
}

@media (min-width: 990px) {
    .about-us-about-us__cover {
        padding: 120px 40px 60px;
        gap: 80px;
    }

    .about-us-about-us__subtitle {
        font-size: 50px;
        line-height: 57.5px;
    }

    .about-us-about-us__details-title {
        font-size: 26px;
        line-height: 28.5px;
    }
}

@media (min-width: 1225px) {
    .about-us-about-us__cover {
        padding: 120px 0px 60px;
    }
}