

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px; /* Встановлюємо максимальну ширину для великих екранів */
  height: 200px;
  background-color: #05776e32;
  border: 2px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0px;
  box-sizing: border-box; /* Враховуємо padding у розмір контейнера */
}

#clock {
  font-size: 4rem; /* Збільшуємо розмір шрифту */
  color: #fff;
}

/* Медіа-запити для адаптивності */
@media (max-width: 768px) {
  .clock-container {
    height: 200px;
  }

  #clock {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .clock-container {
    height: 150px;
  }

  #clock {
    font-size: 2rem;
  }
}
