


.contact-section {
  display: flex;
  height: 800px;
}

.contact-map-container {
  flex: 1;
  position: relative;
}

.contact-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #2b2b2b;
  color: #fff;
  height: 100%;
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.title-icon11 {
  width: 50px;
padding-bottom: 30px;
}

.title11 {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.2px;
  font-family: 'Albert Sans', sans-serif;
  font-weight: 800;
}

.title22 {
  font-size: 48px;
  font-family: Philosopher, sans-serif;
  text-align: center;
  font-weight: 400;
  padding-bottom: 35px;

}

p {
  text-align: center;
  font-size: 16px;
  font-family: 'Albert Sans', sans-serif;
  line-height: 25.6px;
  padding-bottom: 25px;
  width: 80%;
  color: rgba(255, 255, 255, 0.81);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Albert Sans', sans-serif;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  background: #3b3b3b;
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form .submit-button {
  padding: 15px;
  background: #05776e;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Albert Sans', sans-serif;
  transition: background 0.3s;
  width: 100%;
  border-radius: 30px;
}

.contact-form .submit-button:hover {
  background: #04685d;
}



@media (max-width: 2560px) {
  .contact-section {
    flex-direction: row;
    height: 800px;
  }
}

@media (max-width: 1440px) {
  .contact-section {
    flex-direction: row;
    height: 800px;
  }
}

@media (max-width: 1024px) {
  .contact-section {
    flex-direction: row;
    height: 800px;
  }
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    height: auto;
  }

  .contact-map-container,
  .contact-form-container {
    height: 800px;
    width: 100%;
  }
}






