
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.container_features {
  display: flex;
  background-color: #05776e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  flex-direction: row;
}

.photo_features img {
  width: 500px;
  height: auto;
  display: block;
}

.text_features {
  padding: 20px;
  color: white;
  flex: 1;
}

.text_features h2, .text_features h3, .text_features p {
  margin: 0 0 10px 0;
}

.features-list ul {
  column-count: 2;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.features-list li {
  list-style-type: disc;
  margin-left: 20px;
}

.text_features nav {
  margin-top: 20px;
}

.features-button {
  background-color: #0c0d0d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.features-button:hover {
  background-color: #090a09;
}

/* Медіа-запити для адаптивності */

@media (max-width: 768px) {
  .container_features {
    flex-direction: column;
    align-items: center;
  }
  
  .photo_features img {
    width: 100%;
  }
  
  .features-list ul {
    column-count: 1;
  }
}

@media (max-width: 480px) {
  .text_features {
    padding: 10px;
  }
  
  .features-button {
    padding: 10px;
    width: 100%;
  }
}
