.features {
  display: flex;
  flex-direction: row;
  background-color: #02776e;
  
}

.features-image {
  width: 30%; 
  height: auto;
}

.features__article {
  background-color: var(--primary-accent-color);
  color: #FFFFFF; /* white text */
  padding: 90px 30px 105px;
}

.features__article-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 50px;
  color: #FFFFFF; /* white text */
}

.features__article-content {
  margin-bottom: 20px;
  width: 50px;
}

.features h2 {
  
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  color: #FFFFFF; /* white text */
  margin-bottom: 50px;
  max-width: calc(100% * 9 / 12);
}
.features p {
  
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  color: #FFFFFF; /* white text */
  margin-bottom: 50px;
  max-width: calc(100% * 9 / 12);
}

.features h3 {
  font-family: "Philosopher", sans-serif;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  color: #FFFFFF; /* white text */
  margin-bottom: 50px;
  max-width: calc(100% * 9 / 12);
}

.features-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFFFF; /* white text */
}

.features {
  flex-wrap: wrap;
  justify-content: space-between;
}

.features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  padding: 10px;
  color: #FFFFFF; /* white text */
}
.nav {
  border-bottom: 1px solid black;
}
.crumb a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
