.features {
  display: flex;
  flex-direction: row;
  background-color: #02776e;; 
  
}

  .features-image {
    width: 50%; 
    height: 300px; 
    margin-left: 20px; 
  }


.features-content {
  flex: 1;
}

.features-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list li {
  margin-bottom: 10px;
}

.features-list li::before {
  content: "\2022";
  font-weight: bold;
  margin-right: 10px;
}