.hero {
  background: url(/img/hero/hero.jpg) 17.81% 47.77% / cover no-repeat, rgb(247, 247, 245);
}
  
.hero .container {
  padding: 90px 24px 65px;
}

h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary-accent-color);
  margin-bottom: 50px;
  max-width: calc(100% * 9 / 12);
}

.welcome-message {
  color: var(--primary-text-dark-color);
  line-height: 25.5px;
  text-align: left;
  font-size: 17px;
  font-stretch: 100%;
  margin-bottom: 40px;
  font-family: "Albert Sans", sans-serif;
}

.feature-list {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(100% * 6 / 12);
}

.feature-item {
  width: 33%;
  padding: 0 15px;
  color: var(--primary-text-dark-color);
  font-size: 12px;
}

.feature-list img  {
  width: 50px;
  margin-bottom: 20px;
}

.feature-item + .feature-item {
  margin-top: 50px;
}

.hero button {
  border: none;
}




@media screen and (min-width: 992px) {
  .hero .container {
    padding: 105px 0 150px;
  }
  
  h1 {
    font-size: 97px;
    margin-bottom: 50px;
    max-width: calc(100% * 9 / 12);
  }
  
  .welcome-message {
    line-height: 25.5px;
    font-size: 17px;
    max-width: calc(100% * 5 / 12);
    margin-bottom: 40px;
  }
  
  .feature-list {
    margin-top: 55px;
    flex-direction: row;
    max-width: calc(100% * 6 / 12);
  }
  
  .feature-item {
    width: 33%;
    padding: 0 15px;
    font-size: 12px;
  }

  .feature-item + .feature-item {
    margin-top: 0;
  }
}