.product-section {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 351.500px;
    margin-right: 351.500px;
}

.product-section__retur-home {
    padding-left: 15px;
    font-size: 17px;
    color: #b5b5b5;
    opacity: 1;
}

.product-section__retur-home a:hover {
    color: #32BBCB";
}

.product-section__content {
    display: flex;
    flex-direction: row; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-section__content-carousel-maine-element {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    img {
        width: 427.5px;
    }
}

.product-section__content-carousel-maine-element:hover {
    cursor: pointer;
}

.product-section__content-carousel-tape {
    width: 582px;
    height: 118.39px;
}

.product-section__content-carousel-tape-element {
    width: 102.39px;
    height: 102.39px;
}

.product-section__content-carousel-tape-element:hover {
    cursor: pointer;
}


.product-section__content-carousel {
    width: 600px;
    height: 557.39px;
    padding-left: 15px;
    padding-right: 15px;
}

.product-section__content-product-form {
    width: 600px;
    height: 557.39px;
    padding-left: 15px;
    padding-right: 15px;
}

.stock-status {
    font-weight: 400;
    font-size: 17px;
    color: #61A854;
}

.product-title {
    font-family: 'Philosopher', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.product-code {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 800;
    color: #858585;
}

.product-line {
    margin-top: 24px;
    margin-bottom: 24px;
    opacity: 0.2;
    color: #2b2b2b;
}

.product-price {
    margin-top: 24px;

    font-size: 20px;
    font-weight: 600;
}

.quantity{
    width: 67.25px;
    height: 25.5px;
}

.add-button {
    background-color: #02776e;
    color: #FFFFFF; 
    width: 486.75px;
    height: 38.7969px;
    
    border-radius: 25px;
    border: none;
    
    font-size: 14px;
    font-weight: 700;
}