.banner {
    background-image:url("../img/projects/backgroundimage.svg"); 
    color: white;
    text-align: center;
    padding: 100px 0;
}

.banner h1 {
    margin: 0;
    font-size: 3em;
}

.banner p {
    margin: 10px 0 0;
    font-size: 1.2em;
}
