
.categories {
    text-align: center;
    padding: 50px 20px;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(../img/categories/categories-bg.png);
    color: #ffffff;
}

.categories-logo {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 30px auto;
}

.container {
    font-family: "Albert Sans", sans-serif;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}

.title1 {
    font-size: 48px;
    margin-bottom: 40px;
    font-family: "Philosopher", sans-serif;
}

.category {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.category h3 {
    font-family: Philosopher, sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.category h3 span {
    font-weight: normal;
    color: #b0b0b0;
    font-size: 32px;
}

.category p {
    font-size: 17px;
    margin-bottom: 20px;
    color: #b0b0b0;
    line-height: 25.5px;
    font-weight: 400;
    width: 535px;
    margin: 0 auto;
    color: rgb(220, 220, 220);
}

.shop-link {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

.shop-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.shop-link:hover::after {
    width: 100%;
    left: 0;
    transform: none;
}


@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .container {
        margin-bottom: 30px;
    }
    .category {
        margin-bottom: 50px;
    }
    .category h3 {
        font-size: 42px;
    }
    .category p {
        width: 70%;
    }
    .shop-link {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .container {
        margin-bottom: 20px;
    }
    .category {
        margin-bottom: 40px;
    }
    .category h3 {
        font-size: 36px;
    }
    .category p {
        width: 70%;
    }
    .shop-link {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        margin-bottom: 20px;
    }
    .category {
        margin-bottom: 30px;
    }
    .category h3 {
        font-size: 30px;
    }
    .category p {
        width: 80%;
    }
    .shop-link {
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        margin-bottom: 10px;
    }
    .category {
        margin-bottom: 20px;
    }
    .category h3 {
        font-size: 24px;
    }
    .category p {
        width: 90%;
    }
    .shop-link {
        font-size: 12px;
    }
}
